
.header{
  background: $primary;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 80px;
    height: 48.57px;
  }
  input{
    display: none;
  }
  label{
    display: none;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
    color:white;
  }
  ul{
    display: flex;
    li a{
      text-decoration: none;
      display: block;
      font-size: 20px;
      line-height: 1.5;
      color:#FFFF;
      margin: 25px 0px 25px 64px;
      &:hover{
        font-weight: 700;
      }
    }
  }
}
@include phone{
  .header{
    // .container{
    //   position: relative;
    // }
    label{
      display: block;
      order:2;
      margin: 20px 0px;
      
    }
    ul{
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 70px; 
    transition: 1s; 
    z-index:-20;
    // right: 0px;
    left: 0px;

    li {
    text-align: center;
    border-bottom: 1px solid $primary;
    a {
      display: block;
      color: black;
      font-weight: bold;
      margin: 0px;
      padding: 8px 40px;
      &:hover {
        background: $primary;
        color: white;
      }
    }
  }
    }
    #burger:checked + ul {
    max-height: 200px;
    display: block;
    background: white;
    z-index:100;
    }
  }
}

.footer{
  color: white;
  a{
    color:white;
    text-decoration: none;
  }
  padding-top: 48px;
  background: $primary;
  &-top{
    display: flex;
    justify-content: space-between;
    align-content:start;
    border-bottom: 1px solid #ffff;
    &-info{
      padding-bottom: 24px;

      .nav{
        display: flex;
        li a{
          white-space: nowrap;
          display: block;
          margin-right: 3rem;
          &:hover{
            font-weight: 700;
          }
        }
      }
      .contact{
        li a{
        display: block;
        font-size: 36px; 
        line-height: 54px;
        margin-bottom: 8px;
        &:hover{
          font-weight: 700;
        }
        span{
          vertical-align: middle;
          margin-right: 22px;
          font-size: 36px;
          &:hover{
          font-weight: 700;
        }
        }
  }
      }
    }
    &-socialMedias{
      display: flex;
      li a{
        margin-left: 32px;
        img{
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &-bottom{
    display: flex;
    justify-content: space-between;
    p{
      display: block;
      padding: 32px 0px;
    }
    ul{
      display: flex;
      align-items: center;
      li a{
        margin-left: 48px;
        display: block;  
        &:hover{
          font-weight: 700;
        }
      }
    }
  }

}

@include tablet{
  .footer{
    &-top{
      &-info{
        .nav{
          margin-right: -3rem;
        }
      }
      &-socialMedias{
        li a{
          margin-left: 16px;
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
@include phone{
  .footer{
    &-top{
      &-info{
        .nav{
          display: none;
        }
        .contact{
        li a{
        display: block;
        white-space: nowrap;
        font-size: 16px; 
        line-height: 24px;
        margin-bottom: 8px;
        span{
          font-size: 16px;
            }
          }
        }
      }
      &-socialMedias{
        li a{
          margin-left: 8px;
          img{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    &-bottom{
        display: block;
        p{
          display: block;
          padding: 16px 0px 0px 0px;
        }
        ul{
        display: block;
        padding-bottom: 24px;
          li a{
            margin-top: 8px;
            margin-left: 0px;
            display: block;     
          }
        }
    }
  }
}

// footer